* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
}

.container {
    border: 2px solid #000;
    border-radius: 20px;
    box-shadow: 0px 3px 10px #00000050;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    max-width: 850px;
    position: relative;
}

.container h1 {
    text-align: center;
    margin-bottom: 10px;
}
#selectOpt {
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 12px;
    font-weight: 600;
    width: 90px;
    height: 30px;
    background-color: transparent;
    outline: none;
    border: 2px solid #000;
}
.animelar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}
.anime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}
.infoContainer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.name,
.year,
.rating,
.top {
    font-size: 18px;
}
.text {
    color: #17171790;
}
#like {
    background-color: transparent;
    border: none;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
    }
    &:active {
        transform: scale(1);
    }
}
.option {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: #eee;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
    &:active {
        transform: scale(1);
    }
}

.active {
    background-color: limegreen;
    color: #fff;
    transition: all 0.3s;
}
